.app {
	font-family: Roboto, Helvetica, sans-serif;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	
	// Header
	.header{
		img{
			margin-right: 16px;
		}
		.header_title{
			flex-grow: 1;
		}
		.header_menu{
			a{
				margin-left: 16px;
			}
		}
	}
	*{
		box-sizing: border-box;
	}
	// Основной раздел
	.main{
		flex: 1 0 auto;
		margin-bottom: 48px;
		// Верхний блок
		.top_block{
			margin-top: 48px;
			margin-bottom: 48px;
		}
		// Форма
		.badge_form{
			.paper{
				padding: 16px;
				//height: 100%;
			}
			.demo{
				position: relative;
				padding: 0;
				margin-left: auto;
				margin-right: auto;
				.demo_laptop{
					width: 100%;
				}
				.demo_wrap{
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					padding: 3.5%;
					padding-bottom: 25%;
				}
				.demo_header{
					width: auto;
					.header_title{flex-grow: 1;}
					svg{margin-right: 16px;}
				}
				.paper{
					height: 100%;
					position: relative;
					padding: 0;
					transition: background-color 0.3s;
					&.light{
						background-color: #a2a2a2;
						.banner{
							background-color: #ffffff;
						}
					}
					&.dark{
						background-color: #ffffff;
						.banner{
							background-color: #4a4a4a;
						}
					}
				}
				.badge{
					position: absolute;
					text-decoration: line-through solid white;
					transition: top 0.3s, bottom 0.3s;
					button{
						min-width: 32px;
					}
					&.left button{
						border-top-left-radius: 0;
						border-bottom-left-radius: 0;
						padding: 8px 5px;
					}
					&.right button{
						border-top-right-radius: 0;
						border-bottom-right-radius: 0;
						padding: 8px 5px;
					}
					&.bottom button{
						border-bottom-left-radius: 0;
						border-bottom-right-radius: 0;
						padding: 4px 10px;
					}
				}
				.banner{
					margin-top: 150px;
					vertical-align: middle;
					display: flex;
					flex-direction: row;
					justify-content: center;
					align-items: center;
					margin-left: 16px;
					margin-right: 16px;
					transition: background-color 0.05s;
					h6{
						line-height: 20px;
						color: #ffffff;
					}
					img{
						vertical-align: bottom;
					}
					// горизонтальный узкий баннер
					&.narrow{
						padding: 8px;
						img.banner_logo{
							margin-right: 10px;
							width: 60px;
						}
						img.banner_txt{
							width: 280px;
						}
					}
					// горизонтальный широкий баннер
					&.wide{
						padding: 16px;
						img.banner_logo{
							margin-right: 10px;
							width: 100px;
						}
					}
					// вертикальный баннер
					&.vertical{
						width: fit-content;
						padding: 16px;
						//padding-bottom: 10%;
						flex-direction: column;
						//clip-path: polygon(0 0, 0 100%, 50% 90%, 100% 100%, 100% 0);
						margin-top: 100px;
						img.banner_logo{
							margin-bottom: 10px;
							width: 100px;
						}
						img.banner_txt{
							width: 150px;
						}
					}
				}
			}
			.code_block{
				.code_header{
					margin-bottom: 8px;
				}
				.code_js{
					display: block;
					background-color: #f4f4f4;
					border: 1px solid rgba(0, 0, 0, 0.12);
					border-radius: 6px;
					padding: 16px;
				}
				.code_buttons{
					margin-top: 16px;
					button{
						margin-right: 8px;
					}
					&.interim{
						margin-bottom: 16px;
					}
				}
			}
			
		}
	}

	// Footer
	.footer{
		flex: 0 0 auto;
		border-top: 1px solid rgba(0, 0, 0, 0.12);
		padding-top: 48px;
    	padding-bottom: 24px;
	}
}